<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.penging.tms.common.repository.TmsProcPendingProdEntityMapper" >
  <resultMap id="BaseResultMap" type="com.penging.tms.common.entity.TmsProcPendingProdEntity" >
    <id column="cod_id" property="codId" jdbcType="BIGINT" />
    <result column="cod_process_no" property="codProcessNo" jdbcType="VARCHAR" />
    <result column="cod_table_name" property="codTableName" jdbcType="VARCHAR" />
    <result column="dat_process" property="datProcess" jdbcType="TIMESTAMP" />
    <result column="cod_record_type" property="codRecordType" jdbcType="INTEGER" />
    <result column="txt_message" property="txtMessage" jdbcType="VARCHAR" />
    <result column="dat_create" property="datCreate" jdbcType="TIMESTAMP" />
    <result column="cod_create_user" property="codCreateUser" jdbcType="VARCHAR" />
    <result column="cod_create_org" property="codCreateOrg" jdbcType="VARCHAR" />
    <result column="dat_modify" property="datModify" jdbcType="TIMESTAMP" />
    <result column="cod_modify_user" property="codModifyUser" jdbcType="VARCHAR" />
    <result column="cod_modify_org" property="codModifyOrg" jdbcType="VARCHAR" />
    <result column="ctr_update_srlno" property="ctrUpdateSrlno" jdbcType="INTEGER" />
    <result column="cod_loan_account" property="codLoanAccount" jdbcType="VARCHAR" />
    <result column="flg_breach_agreement" property="flgBreachAgreement" jdbcType="CHAR" />
    <result column="amt_product_profit" property="amtProductProfit" jdbcType="DECIMAL" />
    <result column="amt_product_principal" property="amtProductPrincipal" jdbcType="DECIMAL" />
    <result column="amt_overdue_penalty" property="amtOverduePenalty" jdbcType="DECIMAL" />
    <result column="amt_prepayment_penalty" property="amtPrepaymentPenalty" jdbcType="DECIMAL" />
    <result column="amt_interest_income" property="amtInterestIncome" jdbcType="DECIMAL" />
    <result column="amt_baltimore" property="amtBaltimore" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    cod_id, cod_process_no, cod_table_name, dat_process, cod_record_type, txt_message, 
    dat_create, cod_create_user, cod_create_org, dat_modify, cod_modify_user, cod_modify_org, 
    ctr_update_srlno, cod_loan_account, flg_breach_agreement, amt_product_profit, amt_product_principal, 
    amt_overdue_penalty, amt_prepayment_penalty, amt_interest_income, amt_baltimore
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tms_proc_pending_prod
    where cod_id = #{codId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tms_proc_pending_prod
    where cod_id = #{codId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.penging.tms.common.entity.TmsProcPendingProdEntity" >
    insert into tms_proc_pending_prod (cod_id, cod_process_no, cod_table_name, 
      dat_process, cod_record_type, txt_message, 
      dat_create, cod_create_user, cod_create_org, 
      dat_modify, cod_modify_user, cod_modify_org, 
      ctr_update_srlno, cod_loan_account, flg_breach_agreement, 
      amt_product_profit, amt_product_principal, 
      amt_overdue_penalty, amt_prepayment_penalty, 
      amt_interest_income, amt_baltimore)
    values (#{codId,jdbcType=BIGINT}, #{codProcessNo,jdbcType=VARCHAR}, #{codTableName,jdbcType=VARCHAR}, 
      #{datProcess,jdbcType=TIMESTAMP}, #{codRecordType,jdbcType=INTEGER}, #{txtMessage,jdbcType=VARCHAR}, 
      #{datCreate,jdbcType=TIMESTAMP}, #{codCreateUser,jdbcType=VARCHAR}, #{codCreateOrg,jdbcType=VARCHAR}, 
      #{datModify,jdbcType=TIMESTAMP}, #{codModifyUser,jdbcType=VARCHAR}, #{codModifyOrg,jdbcType=VARCHAR}, 
      #{ctrUpdateSrlno,jdbcType=INTEGER}, #{codLoanAccount,jdbcType=VARCHAR}, #{flgBreachAgreement,jdbcType=CHAR}, 
      #{amtProductProfit,jdbcType=DECIMAL}, #{amtProductPrincipal,jdbcType=DECIMAL}, 
      #{amtOverduePenalty,jdbcType=DECIMAL}, #{amtPrepaymentPenalty,jdbcType=DECIMAL}, 
      #{amtInterestIncome,jdbcType=DECIMAL}, #{amtBaltimore,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.penging.tms.common.entity.TmsProcPendingProdEntity" >
    insert into tms_proc_pending_prod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codId != null" >
        cod_id,
      </if>
      <if test="codProcessNo != null" >
        cod_process_no,
      </if>
      <if test="codTableName != null" >
        cod_table_name,
      </if>
      <if test="datProcess != null" >
        dat_process,
      </if>
      <if test="codRecordType != null" >
        cod_record_type,
      </if>
      <if test="txtMessage != null" >
        txt_message,
      </if>
      <if test="datCreate != null" >
        dat_create,
      </if>
      <if test="codCreateUser != null" >
        cod_create_user,
      </if>
      <if test="codCreateOrg != null" >
        cod_create_org,
      </if>
      <if test="datModify != null" >
        dat_modify,
      </if>
      <if test="codModifyUser != null" >
        cod_modify_user,
      </if>
      <if test="codModifyOrg != null" >
        cod_modify_org,
      </if>
      <if test="ctrUpdateSrlno != null" >
        ctr_update_srlno,
      </if>
      <if test="codLoanAccount != null" >
        cod_loan_account,
      </if>
      <if test="flgBreachAgreement != null" >
        flg_breach_agreement,
      </if>
      <if test="amtProductProfit != null" >
        amt_product_profit,
      </if>
      <if test="amtProductPrincipal != null" >
        amt_product_principal,
      </if>
      <if test="amtOverduePenalty != null" >
        amt_overdue_penalty,
      </if>
      <if test="amtPrepaymentPenalty != null" >
        amt_prepayment_penalty,
      </if>
      <if test="amtInterestIncome != null" >
        amt_interest_income,
      </if>
      <if test="amtBaltimore != null" >
        amt_baltimore,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codId != null" >
        #{codId,jdbcType=BIGINT},
      </if>
      <if test="codProcessNo != null" >
        #{codProcessNo,jdbcType=VARCHAR},
      </if>
      <if test="codTableName != null" >
        #{codTableName,jdbcType=VARCHAR},
      </if>
      <if test="datProcess != null" >
        #{datProcess,jdbcType=TIMESTAMP},
      </if>
      <if test="codRecordType != null" >
        #{codRecordType,jdbcType=INTEGER},
      </if>
      <if test="txtMessage != null" >
        #{txtMessage,jdbcType=VARCHAR},
      </if>
      <if test="datCreate != null" >
        #{datCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="codCreateUser != null" >
        #{codCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="codCreateOrg != null" >
        #{codCreateOrg,jdbcType=VARCHAR},
      </if>
      <if test="datModify != null" >
        #{datModify,jdbcType=TIMESTAMP},
      </if>
      <if test="codModifyUser != null" >
        #{codModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="codModifyOrg != null" >
        #{codModifyOrg,jdbcType=VARCHAR},
      </if>
      <if test="ctrUpdateSrlno != null" >
        #{ctrUpdateSrlno,jdbcType=INTEGER},
      </if>
      <if test="codLoanAccount != null" >
        #{codLoanAccount,jdbcType=VARCHAR},
      </if>
      <if test="flgBreachAgreement != null" >
        #{flgBreachAgreement,jdbcType=CHAR},
      </if>
      <if test="amtProductProfit != null" >
        #{amtProductProfit,jdbcType=DECIMAL},
      </if>
      <if test="amtProductPrincipal != null" >
        #{amtProductPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="amtOverduePenalty != null" >
        #{amtOverduePenalty,jdbcType=DECIMAL},
      </if>
      <if test="amtPrepaymentPenalty != null" >
        #{amtPrepaymentPenalty,jdbcType=DECIMAL},
      </if>
      <if test="amtInterestIncome != null" >
        #{amtInterestIncome,jdbcType=DECIMAL},
      </if>
      <if test="amtBaltimore != null" >
        #{amtBaltimore,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.penging.tms.common.entity.TmsProcPendingProdEntity" >
    update tms_proc_pending_prod
    <set >
      <if test="codProcessNo != null" >
        cod_process_no = #{codProcessNo,jdbcType=VARCHAR},
      </if>
      <if test="codTableName != null" >
        cod_table_name = #{codTableName,jdbcType=VARCHAR},
      </if>
      <if test="datProcess != null" >
        dat_process = #{datProcess,jdbcType=TIMESTAMP},
      </if>
      <if test="codRecordType != null" >
        cod_record_type = #{codRecordType,jdbcType=INTEGER},
      </if>
      <if test="txtMessage != null" >
        txt_message = #{txtMessage,jdbcType=VARCHAR},
      </if>
      <if test="datCreate != null" >
        dat_create = #{datCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="codCreateUser != null" >
        cod_create_user = #{codCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="codCreateOrg != null" >
        cod_create_org = #{codCreateOrg,jdbcType=VARCHAR},
      </if>
      <if test="datModify != null" >
        dat_modify = #{datModify,jdbcType=TIMESTAMP},
      </if>
      <if test="codModifyUser != null" >
        cod_modify_user = #{codModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="codModifyOrg != null" >
        cod_modify_org = #{codModifyOrg,jdbcType=VARCHAR},
      </if>
      <if test="ctrUpdateSrlno != null" >
        ctr_update_srlno = #{ctrUpdateSrlno,jdbcType=INTEGER},
      </if>
      <if test="codLoanAccount != null" >
        cod_loan_account = #{codLoanAccount,jdbcType=VARCHAR},
      </if>
      <if test="flgBreachAgreement != null" >
        flg_breach_agreement = #{flgBreachAgreement,jdbcType=CHAR},
      </if>
      <if test="amtProductProfit != null" >
        amt_product_profit = #{amtProductProfit,jdbcType=DECIMAL},
      </if>
      <if test="amtProductPrincipal != null" >
        amt_product_principal = #{amtProductPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="amtOverduePenalty != null" >
        amt_overdue_penalty = #{amtOverduePenalty,jdbcType=DECIMAL},
      </if>
      <if test="amtPrepaymentPenalty != null" >
        amt_prepayment_penalty = #{amtPrepaymentPenalty,jdbcType=DECIMAL},
      </if>
      <if test="amtInterestIncome != null" >
        amt_interest_income = #{amtInterestIncome,jdbcType=DECIMAL},
      </if>
      <if test="amtBaltimore != null" >
        amt_baltimore = #{amtBaltimore,jdbcType=DECIMAL},
      </if>
    </set>
    where cod_id = #{codId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.penging.tms.common.entity.TmsProcPendingProdEntity" >
    update tms_proc_pending_prod
    set cod_process_no = #{codProcessNo,jdbcType=VARCHAR},
      cod_table_name = #{codTableName,jdbcType=VARCHAR},
      dat_process = #{datProcess,jdbcType=TIMESTAMP},
      cod_record_type = #{codRecordType,jdbcType=INTEGER},
      txt_message = #{txtMessage,jdbcType=VARCHAR},
      dat_create = #{datCreate,jdbcType=TIMESTAMP},
      cod_create_user = #{codCreateUser,jdbcType=VARCHAR},
      cod_create_org = #{codCreateOrg,jdbcType=VARCHAR},
      dat_modify = #{datModify,jdbcType=TIMESTAMP},
      cod_modify_user = #{codModifyUser,jdbcType=VARCHAR},
      cod_modify_org = #{codModifyOrg,jdbcType=VARCHAR},
      ctr_update_srlno = #{ctrUpdateSrlno,jdbcType=INTEGER},
      cod_loan_account = #{codLoanAccount,jdbcType=VARCHAR},
      flg_breach_agreement = #{flgBreachAgreement,jdbcType=CHAR},
      amt_product_profit = #{amtProductProfit,jdbcType=DECIMAL},
      amt_product_principal = #{amtProductPrincipal,jdbcType=DECIMAL},
      amt_overdue_penalty = #{amtOverduePenalty,jdbcType=DECIMAL},
      amt_prepayment_penalty = #{amtPrepaymentPenalty,jdbcType=DECIMAL},
      amt_interest_income = #{amtInterestIncome,jdbcType=DECIMAL},
      amt_baltimore = #{amtBaltimore,jdbcType=DECIMAL}
    where cod_id = #{codId,jdbcType=BIGINT}
  </update>
</mapper>