<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.penging.tms.common.repository.TmsProcSettleLogEntityMapper" >
  <resultMap id="BaseResultMap" type="com.penging.tms.common.entity.TmsProcSettleLogEntity" >
    <id column="cod_id" property="codId" jdbcType="BIGINT" />
    <result column="cod_process_no" property="codProcessNo" jdbcType="VARCHAR" />
    <result column="cod_prod_no" property="codProdNo" jdbcType="VARCHAR" />
    <result column="cod_ivmt_no" property="codIvmtNo" jdbcType="VARCHAR" />
    <result column="cod_pending_type" property="codPendingType" jdbcType="INTEGER" />
    <result column="cod_cust_id_out" property="codCustIdOut" jdbcType="VARCHAR" />
    <result column="cod_acct_no_out" property="codAcctNoOut" jdbcType="VARCHAR" />
    <result column="amt_txn" property="amtTxn" jdbcType="DECIMAL" />
    <result column="cod_cust_id_in" property="codCustIdIn" jdbcType="VARCHAR" />
    <result column="cod_acct_no_in" property="codAcctNoIn" jdbcType="VARCHAR" />
    <result column="cod_ref_no" property="codRefNo" jdbcType="VARCHAR" />
    <result column="cod_proc_status" property="codProcStatus" jdbcType="INTEGER" />
    <result column="txt_message" property="txtMessage" jdbcType="VARCHAR" />
    <result column="flg_reversal" property="flgReversal" jdbcType="CHAR" />
    <result column="dat_process" property="datProcess" jdbcType="TIMESTAMP" />
    <result column="dat_create" property="datCreate" jdbcType="TIMESTAMP" />
    <result column="cod_create_user" property="codCreateUser" jdbcType="VARCHAR" />
    <result column="cod_create_org" property="codCreateOrg" jdbcType="VARCHAR" />
    <result column="dat_modify" property="datModify" jdbcType="TIMESTAMP" />
    <result column="cod_modify_user" property="codModifyUser" jdbcType="VARCHAR" />
    <result column="cod_modify_org" property="codModifyOrg" jdbcType="VARCHAR" />
    <result column="ctr_update_srlno" property="ctrUpdateSrlno" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cod_id, cod_process_no, cod_prod_no, cod_ivmt_no, cod_pending_type, cod_cust_id_out, 
    cod_acct_no_out, amt_txn, cod_cust_id_in, cod_acct_no_in, cod_ref_no, cod_proc_status, 
    txt_message, flg_reversal, dat_process, dat_create, cod_create_user, cod_create_org, 
    dat_modify, cod_modify_user, cod_modify_org, ctr_update_srlno
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tms_proc_settle_log
    where cod_id = #{codId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tms_proc_settle_log
    where cod_id = #{codId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.penging.tms.common.entity.TmsProcSettleLogEntity" >
    insert into tms_proc_settle_log (cod_id, cod_process_no, cod_prod_no, 
      cod_ivmt_no, cod_pending_type, cod_cust_id_out, 
      cod_acct_no_out, amt_txn, cod_cust_id_in, 
      cod_acct_no_in, cod_ref_no, cod_proc_status, 
      txt_message, flg_reversal, dat_process, 
      dat_create, cod_create_user, cod_create_org, 
      dat_modify, cod_modify_user, cod_modify_org, 
      ctr_update_srlno)
    values (#{codId,jdbcType=BIGINT}, #{codProcessNo,jdbcType=VARCHAR}, #{codProdNo,jdbcType=VARCHAR}, 
      #{codIvmtNo,jdbcType=VARCHAR}, #{codPendingType,jdbcType=INTEGER}, #{codCustIdOut,jdbcType=VARCHAR}, 
      #{codAcctNoOut,jdbcType=VARCHAR}, #{amtTxn,jdbcType=DECIMAL}, #{codCustIdIn,jdbcType=VARCHAR}, 
      #{codAcctNoIn,jdbcType=VARCHAR}, #{codRefNo,jdbcType=VARCHAR}, #{codProcStatus,jdbcType=INTEGER}, 
      #{txtMessage,jdbcType=VARCHAR}, #{flgReversal,jdbcType=CHAR}, #{datProcess,jdbcType=TIMESTAMP}, 
      #{datCreate,jdbcType=TIMESTAMP}, #{codCreateUser,jdbcType=VARCHAR}, #{codCreateOrg,jdbcType=VARCHAR}, 
      #{datModify,jdbcType=TIMESTAMP}, #{codModifyUser,jdbcType=VARCHAR}, #{codModifyOrg,jdbcType=VARCHAR}, 
      #{ctrUpdateSrlno,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.penging.tms.common.entity.TmsProcSettleLogEntity" >
    insert into tms_proc_settle_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codId != null" >
        cod_id,
      </if>
      <if test="codProcessNo != null" >
        cod_process_no,
      </if>
      <if test="codProdNo != null" >
        cod_prod_no,
      </if>
      <if test="codIvmtNo != null" >
        cod_ivmt_no,
      </if>
      <if test="codPendingType != null" >
        cod_pending_type,
      </if>
      <if test="codCustIdOut != null" >
        cod_cust_id_out,
      </if>
      <if test="codAcctNoOut != null" >
        cod_acct_no_out,
      </if>
      <if test="amtTxn != null" >
        amt_txn,
      </if>
      <if test="codCustIdIn != null" >
        cod_cust_id_in,
      </if>
      <if test="codAcctNoIn != null" >
        cod_acct_no_in,
      </if>
      <if test="codRefNo != null" >
        cod_ref_no,
      </if>
      <if test="codProcStatus != null" >
        cod_proc_status,
      </if>
      <if test="txtMessage != null" >
        txt_message,
      </if>
      <if test="flgReversal != null" >
        flg_reversal,
      </if>
      <if test="datProcess != null" >
        dat_process,
      </if>
      <if test="datCreate != null" >
        dat_create,
      </if>
      <if test="codCreateUser != null" >
        cod_create_user,
      </if>
      <if test="codCreateOrg != null" >
        cod_create_org,
      </if>
      <if test="datModify != null" >
        dat_modify,
      </if>
      <if test="codModifyUser != null" >
        cod_modify_user,
      </if>
      <if test="codModifyOrg != null" >
        cod_modify_org,
      </if>
      <if test="ctrUpdateSrlno != null" >
        ctr_update_srlno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codId != null" >
        #{codId,jdbcType=BIGINT},
      </if>
      <if test="codProcessNo != null" >
        #{codProcessNo,jdbcType=VARCHAR},
      </if>
      <if test="codProdNo != null" >
        #{codProdNo,jdbcType=VARCHAR},
      </if>
      <if test="codIvmtNo != null" >
        #{codIvmtNo,jdbcType=VARCHAR},
      </if>
      <if test="codPendingType != null" >
        #{codPendingType,jdbcType=INTEGER},
      </if>
      <if test="codCustIdOut != null" >
        #{codCustIdOut,jdbcType=VARCHAR},
      </if>
      <if test="codAcctNoOut != null" >
        #{codAcctNoOut,jdbcType=VARCHAR},
      </if>
      <if test="amtTxn != null" >
        #{amtTxn,jdbcType=DECIMAL},
      </if>
      <if test="codCustIdIn != null" >
        #{codCustIdIn,jdbcType=VARCHAR},
      </if>
      <if test="codAcctNoIn != null" >
        #{codAcctNoIn,jdbcType=VARCHAR},
      </if>
      <if test="codRefNo != null" >
        #{codRefNo,jdbcType=VARCHAR},
      </if>
      <if test="codProcStatus != null" >
        #{codProcStatus,jdbcType=INTEGER},
      </if>
      <if test="txtMessage != null" >
        #{txtMessage,jdbcType=VARCHAR},
      </if>
      <if test="flgReversal != null" >
        #{flgReversal,jdbcType=CHAR},
      </if>
      <if test="datProcess != null" >
        #{datProcess,jdbcType=TIMESTAMP},
      </if>
      <if test="datCreate != null" >
        #{datCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="codCreateUser != null" >
        #{codCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="codCreateOrg != null" >
        #{codCreateOrg,jdbcType=VARCHAR},
      </if>
      <if test="datModify != null" >
        #{datModify,jdbcType=TIMESTAMP},
      </if>
      <if test="codModifyUser != null" >
        #{codModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="codModifyOrg != null" >
        #{codModifyOrg,jdbcType=VARCHAR},
      </if>
      <if test="ctrUpdateSrlno != null" >
        #{ctrUpdateSrlno,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.penging.tms.common.entity.TmsProcSettleLogEntity" >
    update tms_proc_settle_log
    <set >
      <if test="codProcessNo != null" >
        cod_process_no = #{codProcessNo,jdbcType=VARCHAR},
      </if>
      <if test="codProdNo != null" >
        cod_prod_no = #{codProdNo,jdbcType=VARCHAR},
      </if>
      <if test="codIvmtNo != null" >
        cod_ivmt_no = #{codIvmtNo,jdbcType=VARCHAR},
      </if>
      <if test="codPendingType != null" >
        cod_pending_type = #{codPendingType,jdbcType=INTEGER},
      </if>
      <if test="codCustIdOut != null" >
        cod_cust_id_out = #{codCustIdOut,jdbcType=VARCHAR},
      </if>
      <if test="codAcctNoOut != null" >
        cod_acct_no_out = #{codAcctNoOut,jdbcType=VARCHAR},
      </if>
      <if test="amtTxn != null" >
        amt_txn = #{amtTxn,jdbcType=DECIMAL},
      </if>
      <if test="codCustIdIn != null" >
        cod_cust_id_in = #{codCustIdIn,jdbcType=VARCHAR},
      </if>
      <if test="codAcctNoIn != null" >
        cod_acct_no_in = #{codAcctNoIn,jdbcType=VARCHAR},
      </if>
      <if test="codRefNo != null" >
        cod_ref_no = #{codRefNo,jdbcType=VARCHAR},
      </if>
      <if test="codProcStatus != null" >
        cod_proc_status = #{codProcStatus,jdbcType=INTEGER},
      </if>
      <if test="txtMessage != null" >
        txt_message = #{txtMessage,jdbcType=VARCHAR},
      </if>
      <if test="flgReversal != null" >
        flg_reversal = #{flgReversal,jdbcType=CHAR},
      </if>
      <if test="datProcess != null" >
        dat_process = #{datProcess,jdbcType=TIMESTAMP},
      </if>
      <if test="datCreate != null" >
        dat_create = #{datCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="codCreateUser != null" >
        cod_create_user = #{codCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="codCreateOrg != null" >
        cod_create_org = #{codCreateOrg,jdbcType=VARCHAR},
      </if>
      <if test="datModify != null" >
        dat_modify = #{datModify,jdbcType=TIMESTAMP},
      </if>
      <if test="codModifyUser != null" >
        cod_modify_user = #{codModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="codModifyOrg != null" >
        cod_modify_org = #{codModifyOrg,jdbcType=VARCHAR},
      </if>
      <if test="ctrUpdateSrlno != null" >
        ctr_update_srlno = #{ctrUpdateSrlno,jdbcType=INTEGER},
      </if>
    </set>
    where cod_id = #{codId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.penging.tms.common.entity.TmsProcSettleLogEntity" >
    update tms_proc_settle_log
    set cod_process_no = #{codProcessNo,jdbcType=VARCHAR},
      cod_prod_no = #{codProdNo,jdbcType=VARCHAR},
      cod_ivmt_no = #{codIvmtNo,jdbcType=VARCHAR},
      cod_pending_type = #{codPendingType,jdbcType=INTEGER},
      cod_cust_id_out = #{codCustIdOut,jdbcType=VARCHAR},
      cod_acct_no_out = #{codAcctNoOut,jdbcType=VARCHAR},
      amt_txn = #{amtTxn,jdbcType=DECIMAL},
      cod_cust_id_in = #{codCustIdIn,jdbcType=VARCHAR},
      cod_acct_no_in = #{codAcctNoIn,jdbcType=VARCHAR},
      cod_ref_no = #{codRefNo,jdbcType=VARCHAR},
      cod_proc_status = #{codProcStatus,jdbcType=INTEGER},
      txt_message = #{txtMessage,jdbcType=VARCHAR},
      flg_reversal = #{flgReversal,jdbcType=CHAR},
      dat_process = #{datProcess,jdbcType=TIMESTAMP},
      dat_create = #{datCreate,jdbcType=TIMESTAMP},
      cod_create_user = #{codCreateUser,jdbcType=VARCHAR},
      cod_create_org = #{codCreateOrg,jdbcType=VARCHAR},
      dat_modify = #{datModify,jdbcType=TIMESTAMP},
      cod_modify_user = #{codModifyUser,jdbcType=VARCHAR},
      cod_modify_org = #{codModifyOrg,jdbcType=VARCHAR},
      ctr_update_srlno = #{ctrUpdateSrlno,jdbcType=INTEGER}
    where cod_id = #{codId,jdbcType=BIGINT}
  </update>
</mapper>